<!DOCTYPE html>
<html>
<head>
	<title>Polynomial Factorization</title>
</head>
<body>
	<h1>Polynomial Factorization</h1>
	<p>You entered: <%= polynomial %></p>
	<p>The factorization is: <%= answer %></p>
	<a href="/factorization">Try again</a>
</body>
</html>
